@import "variables.scss";

@font-face {
  font-family: "ALS Hauss";
  src: local("ALS Hauss"), local("ALS-Hauss"),
    url("../fonts/ALSHauss-Regular.woff2") format("woff2"),
    url("../fonts/ALSHauss-Regular.woff") format("woff"),
    url("../fonts/ALSHauss-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: "ALS Hauss";
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--dark-grey);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}

.side-bar {
  align-self: start;
  padding: 30px 18px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  gap: 24px;
}
